.fonti--heading {
  text-align: center;
  font-size: 3.8rem;
}

.fonti--list {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 2rem;
  list-style: none;
  height: 53rem;
}

.fonti--list > .two-thirds {
  grid-column: span 2;
}

.fonte {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.fonte a {
  text-decoration: none;
}

.fonte__immagine {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 500ms;
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 500ms;
}

.backdrop__title {
  color: white;
  font-weight: 600;
  font-size: 3.1rem;
  text-align: center;
}

.backdrop__title > .highlighted {
  color: var(--color-secondary);
}

.fonte:hover .backdrop,
.fonte:active .backdrop {
  opacity: 1;
}

.fonte:hover .fonte__immagine,
.fonte:active .fonte__immagine {
  scale: 1.1;
}
