@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('css/variables.css');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', Verdana, sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
}

main {
  margin: 2rem;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}